.inner {
    width: 1200px;
    margin: 0 auto;
    height: inherit;
}

body {
    background: #fff;
}

strong {
    font-weight: bold;
}

.section {
    padding-top: 70px;
}

#shoppingmall * {
    letter-spacing: -0.03em;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.top_visual {
    height: 390px;
}

.clearfix {
    clear: both;
}

.text_shadow {
    text-shadow: 15px 15px 3px rgba(0, 0, 0, .05);
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.bar_tit {
    position: relative;
    text-align: left;
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #f5f4f4;
    text-indent: 8px;
}

.bar_tit:after {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 21px;
    width: 3px;
    height: 19px;
    background: #3ba0ff;
    content: '';
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

/*샵온 쇼핑몰 디자인*/
.shopon_visual {
    background-image: url(../images/shoppingmall/main_bg.jpg);
    background-repeat: no-repeat;
    color: white;
    background-color: #071524;
    position: relative;
    height: 390px;
}

.page-main {
    margin: 0 auto;
    text-align: center;

}

.page-title {
    width: 480px;
    height: 42px;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/shoppingmall/doto_top.png) no-repeat center;
}

.page-main p {
    font-size: 40px;
    font-weight: 300px;
    color: #333;
    display: inline-block;
    line-height: 1.2;
    letter-spacing: -0.04em;
    font-weight: 400;
    text-align: left
}

.page-main span {
    margin-top: 130px;
    font-size: 100px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin-left: 10px;
    color: #000;
}

.page-main a {
    display: block;
    text-align: right;
    margin-right: 37%;
    color: #8f780d;
    font-size: 18px;
}

.inner {
    width: 1285px;
    text-align: center;
}

.inner .sect_tit {
    font-size: 36px;
    color: #333;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    margin-top: 80px;
}

.interlock {
    width: 1078px;
    height: 397px;
    display: block;
    margin-top: 40px;
    background: url(../images/shoppingmall/interlock.png) no-repeat center;
    margin-left: auto;
    margin-right: auto;
    position: a
}

.sect_tit2 {
    font-size: 28px;
    margin-top: 70px;
    color: #333;
    display: inline-block;
}

.interlock3 {
    width: 1038px;
    height: 135px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    display: block;
    background: url(../images/shoppingmall/order_list.png) no-repeat center;

}

.list_box {
    background-color: #f8f9fd;
    height: 458px;
}

.list_range {
    margin-left: 23%;
    text-align: left;
    float: left
}

.list_box p {
    font-size: 22px;
    line-height: 2.3em;
    background: url('../images/shoppingmall/icon_cube.png') no-repeat 0 center;
    padding: 0 0 0 15px;
    letter-spacing: -0.02em;
}

.list_box span,
.list_box a {
    margin-left: 15px;
}

.list_box span {
    color: #f8601d;
}

.list_box a {
    color: #a4a5a7;
}

.list_box i {
    color: #84889c;
    margin-bottom: 50%;
}

.tit {
    font-size: 32px;
    font-weight: bold;
    padding-top: 100px;
    margin-bottom: 20px;
}

.shopon_market {
    width: 700px;
    height: 400px;
    background: url('../images/shoppingmall/shopon_market.png');
    float: right;
    margin-right: 17%;
}

.list_box2 {
    background-color: #fff;
    height: 458px;
}

.list_range2 {
    margin-right: 23%;
    text-align: left;
    float: right;
}

.list_box2 p {
    font-size: 22px;
    line-height: 2.3em;
    background: url('../images/shoppingmall/icon_cube.png') no-repeat 0 center;
    padding: 0 0 0 15px;
    letter-spacing: -0.02em;
}

.list_box2 i {
    color: #84889c;
    margin-bottom: 50%;
}

.shopon_market2 {
    width: 600px;
    height: 389px;
    background: url('../images/shoppingmall/shopon_diagram.png');
    float: left;
    margin-left: 19%;
}

.shopon_market3 {
    width: 574px;
    height: 423px;
    background: url('../images/shoppingmall/shopon_service.png');
    float: left;
    margin-left: 15.5%;
}

.bg_patton {
    background: url('../images/shoppingmall/bg_patton.png');
    width: 1903px;
    height: 705px;
}

.bg_patton table {
    font-size: 22px;
    text-align: center;
    border: 1px solid #888;
    margin-left: auto;
    margin-right: auto;

}

.bg_patton thead {
    border: 2px solid #f8601d;
}

.bg_patton tr,
td {
    font-size: 22px;
    text-align: center;
    border: 1px solid #888;
    padding: 20px 100px;
    ;

}

.bg_patton p {
    text-align: center;
    margin-top: 40px;
    color: #666;
    letter-spacing: -0.03em;
    font-size: 18px;
}

.inner strong {
    font-size: 36px;
    color: #333;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    margin-top: 80px;
}

.sect_tit3 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 36px;
    color: #333;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
}

.last_bg {
    width: 1903px;
    height: 457px;
    background: url('../images/shoppingmall/last_bg.jpg');
}

.last_bg h2 {
    font-size: 36px;
    color: #333;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

/*section_last*/

.inner {
    height: auto;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

h2 {
    padding-top: 70px;
}

.list {
    width: 395px;
    margin-bottom: 55px;
}

.list .content {
    width: 395px;
    border: 1px solid #dce2e1;
    background: #fff;
    border-radius: 3px;
}

.list2 .content {
    border: 1px solid #f7cfc1;
}

.list3 .content {
    border: 1px solid #f44336;
}

.list h2 {
    font-style: italic;
    font-size: 23px;
    text-align: center;
}

.list p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin-top: 3px;
}

.list_tit {
    text-align: center;
    border-bottom: 2px solid #e7eaef;
    padding: 35px 0 10px 0;
    margin: 0 20px
}

.list2 .list_tit,
.list3 .list_tit {
    position: relative;
    border-bottom: 2px solid #f8601d;
    height: 152px;
}

.list3 .list_tit .best {
    background: url(../images/shoppingmall/best.png)no-repeat;
    position: absolute;
    left: -20px;
    width: 59px;
    height: 62px;
    top: 0;
}

.list_tit .shopping {
    border: 1px solid #dce2e1;
    border-radius: 34px;
    width: 130px;
    height: 34px;
    line-height: 32px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #9eabbb;
}

.list_tit .shopping.orange {
    color: #fff;
    background: #f8601d;
    margin-left: 8px;
    border: none;
}

.list_tit h3 {
    font-size: 30px;
    font-weight: bold;
    color: #9eabbb;
    margin-top: 3px
}

.list2 .list_tit h3,
.list3 .list_tit h3 {
    color: #333;
}

h4 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.list + .list {
    margin-left: 50px;
}

.list ul {
    height: 590px;
    padding: 25px 0 ;
}

.list ul li {
    font-size: 18px
}

.list ul li + li {
    margin-top: 10px;
}

.list ul li i {
    font-size: 24px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    margin-bottom: 1px;
}

.list ul li i.check {
    color: #39b54a
}

.list ul li i.add {
    color: #f8601d
}

.list ul li dd {
    text-indent: 25px;
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}
.list ul li de {
    text-indent: 25px;
    font-size: 12px;
    color: #a9a9a9;
    margin-top: 5px;
    margin-left:30px;
}

.list .list_foot {
    position: relative;
    text-align: center;
    margin: 0 20px;
    border-top: 1px dashed #c9cfd5;
    padding: 30px 0;
}

.list .list_foot a {
    display: block;
}

.list .list_foot h3 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;
}


.list .list_foot .sub {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #3ba0ff;
    vertical-align: bottom;
    margin-left: 5px;
}



.list .list_foot i {
    font-weight: 300;
    font-style: normal;
}

.list2 .list_foot:after,
.list3 .list_foot:after {
    content: '';
    width: 26px;
    height: 26px;
    background: url(../images/shoppingmall/arrow_foot.png);
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%)
}

.list1 ul {
    padding-left: 85px;
    padding-bottom: 25px;
}

.list2 ul {
    padding-left: 42px;
    padding-bottom: 25px;
}

.list3 ul {
    padding-left: 75px;
    padding-bottom: 25px;
}

.list2 .list_foot .far,
.list3 .list_foot .far {
    font-size: 22px;
    color: #f8601d;
    margin-right: 7px;

}
.list .list_foot span.apply,
.list2 .list_foot span.apply,
.list3 .list_foot span.apply {
    color: #3ba0ff;
    border-bottom: 1px solid #fff;
    display: block;
}

.list .list_foot span.apply2,
.list2 .list_foot span.apply2,
.list3 .list_foot span.apply2 {
    color: #f8601d;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size:24px;
    font-weight:bold;
    padding-top:12px;
    border-bottom: 2px solid #f8601d;
}


.list .list_foot span.apply2:hover,
.list2 .list_foot span.apply2:hover,
.list3 .list_foot span.apply2:hover{
    content: '';
    color:#a6aeb6;
    border-bottom: 2px solid #a6aeb6;
}
.list .list_foot .sale {
    z-index: 12;
    position: absolute;
    top: 58px;
    left: 177px;
    ;
    background: #fff;
    width: 323px;
    height: 263px;
    border: 1px solid #000;
    display: none;
}

.list .list_foot .sale h5 {
    position: relative;
    text-align: left;
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid #f5f4f4;
    text-indent: 8px;
}

.list .list_foot .sale h5:after {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 21px;
    width: 3px;
    height: 19px;
    background: #3ba0ff;
    content: '';
}

.list .list_foot .container {
    padding: 20px;
}

.list .list_foot table {
    border: 1px solid #e4e5e7;
    border-bottom: none;
}

.list .list_foot th {
    height: 40px;
    width: 79px;
    background: #f8f8f8;
    border-right: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
}

.list .list_foot td {
    text-align: left;
    padding-left: 15px;
    color: #888;
    border-bottom: 1px solid #e4e5e7;
}

.list .list_foot td b {
    color: #000;
}

.list .list_foot td span {
    color: #f44336;
    border: 1px solid #f3dedc;
    margin-left: 10px;
    width: 70px;
    height: 23px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
    font-size: 14px;
}

.list .list_foot .sub:hover .sale {
    display: block;
}
